<p id="notice"><%= notice %></p>
<section class="habitaciones">
  <div class="row">
    <h2>Habitaciones</h2>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <a href="#">
        <div class="imagen">
          <img src="assets/images/rooms/room-01.jpg">
          <div class="titulo">
            <h3>Habitaci`on 01</h3>
          </div>
        </div>
        <div class="contenido">
          <p> nose que madre, porque yo no se que pedo con esta cosa. solo se que estoy haciendo algo para aprender algo practico css foundatios.</p>
        </div>
      </a>
    </div>
    <div class="medium-4 columns">
      <a href="#">
        <div class="imagen">
          <%=image_tag("/images/rooms/room-03.jpg")%>
          <div class="titulo">
            <h3>Habitaci`on 02</h3>
          </div>
        </div>
        <div class="contenido">
          <p> nose que madre, porque yo no se que pedo con esta cosa. solo se que estoy haciendo algo para aprender algo practico css foundatios.</p>
        </div>
      </a>
    </div>
    <div class="medium-4 columns">
      <a href="#">
        <div class="imagen">
          <img src="assets/images/rooms/room-03.jpg">
          <div class="titulo">
            <h3>Habitaci`on 03</h3>
          </div>
        </div>
        <div class="contenido">
          <p> nose que madre, porque yo no se que pedo con esta cosa. solo se que estoy haciendo algo para aprender algo practico css foundatios.</p>
        </div>
      </a>
    </div>
  </div>
</section>